*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: black;
    color: white;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.footerText{
    margin: 0;
    display: inline-block;
}

.copyright{
    padding-right: 3px;
}

.developerName{
    padding-left: 3px;
}
